{% extends 'master_dashboard.html' %}
{% load static %}
{% block changepassactive %} active {% endblock changepassactive %}
{% block title %} Change Password | LTSRide {% endblock title %}

{% block body %}

    <style>
        body  {
            background-image: url("{% static 'images/world.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/box-style2.css' %}">

    <div class="contact-back flex items-center">
        <form action="/change-password" method="POST">
            {% csrf_token %}
            <section style="min-height: 100vh;">
                <div class="container" style="width: 500px;">
                    <h2 class="text-center my-3 py-3" style="font-weight: bold;">Change Password</h2>
                    <div class="form-group">
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-top: 1px;"></button>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group">
                        <label for="old-password" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="old-password" minlength="4" name = "old_password" placeholder="Current Password" required>
                    </div>

                    <div class="form-group">
                        <label for="new-password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new-password" minlength="4" name = "new_password" placeholder="New Password" onkeyup="check_pass()" required>
                    </div>

                    <div class="form-group">
                        <label for="new-conf-password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="new-conf-password" minlength="4" name = "new_conf_password" placeholder="Confirm Password" onkeyup="check_pass()" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" id="submit_button" type="submit">Submit</button>
                    </div>
                </div>
            </section>
        </form>
    </div>  

    <script src="{% static 'js/check-password.js' %}"></script>

{% endblock body %}
