{% extends 'master_home.html' %}
{% load static %}
{% block contactactive %} active {% endblock contactactive %}
{% block title %} Contact | LTSRide {% endblock title %}

{% block body %}

    <style>
        body  {
            background-image: url("{% static 'images/world.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/box-style2.css' %}">

    <div class="contact-back flex items-center">
        <form action="/contact" method="POST">
            {% csrf_token %}
            <section style="min-height: 120vh;">
                <div class="container" style="width: 600px;">
                    <h2 class="text-center my-3 py-3" style="font-weight: bold;">Contact Us</h2>
                    <div class="form-group">
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-top: 1px;"></button>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" name = "full_name" required>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" pattern="[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" name = "email_address" placeholder="name@example.com" required>
                    </div>

                    <div class="form-group">
                        <label for="number" class="form-label">Mobile Number</label>
                        <input type="tel" class="form-control" id="number" onkeypress="return onlyNumberKey(event)" minlength="10" maxlength="15" name = "mobile_number" required>
                    </div>

                    <div class="form-group">
                        <label for="query" class="form-label">Query</label>  
                        <textarea class="form-control" id="query" name = "query" rows="3" required></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <script src="{% static 'js/only-number.js' %}"></script>

{% endblock body %}





