{% extends 'master_home.html' %}
{% load static %}
{% block forgotpassactive %} active {% endblock forgotpassactive %}
{% block title %} Forgot Password | LTSRide {% endblock title %}

{% block body %}

    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h2 class="text-center my-3 py-3" style="font-weight: bold;">What's your email? We'll send you a link.</h2>
            <table align="center" cellpadding="10" style="width: 800px;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="width: 600px;">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-top: 1px;"></button>
                        </div>
                        {% endfor %}
                    </td>
                    <td style="width: 100px;"></td>
                </tr>

                <tr>
                    <td style="width: 100px;"></td>
                    <td style="width: 600px;">
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-size: 18px;font-weight: bold;">Email Address</label>
                            <input type="email" class="form-control" id="email" pattern="[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" name = "email" placeholder="name@example.com" required>
                        </div>
                    </td>
                    <td style="width: 100px;"></td>
                </tr>

                <tr>
                    <td style="width: 100px;"></td>
                    <td align="center">
                        <button class="btn btn-primary" type="submit" style="padding: 10px 30px;font-size: 15px;">Send</button>
                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>
    </form>

{% endblock body %}

