{% extends 'master_dashboard.html' %}
{% load static %}
{% block ratingsactive %} active {% endblock ratingsactive %}
{% block title %} Reviews | LTSRide {% endblock title %}

{% block body %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/star-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rating-style.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>

    <div class="container"><br>
        <table align="center" style="width: 900px;table-layout: fixed;">
            <tr>
                <td style="width: 100px;"></td>
                <td colspan="2" style="text-align: center;width: 700px;">
                    <h2 style="font-weight: bold;color: cadetblue;">{{username}}</h2><br><br>
                </td>
                <td style="width: 100px;"></td>
            </tr>

            <tr>
                <td style="width: 100px;"></td>
                <td style="width: 400px;">
                    <h3 style="text-align: center;font-weight: bold;vertical-align: top;">Travel Preferences</h3>
                </td>

                <td style="width: 400px;">
                    <h3 style="text-align: center;font-weight: bold;vertical-align: text-top;">Bio</h3>
                </td>
                <td style="width: 100px;"></td>
            </tr>

            <tr>
                <td style="width: 100px;"></td>
                <td style="width: 400px;">
                    {% if detail %}
                        <label>→ {{detail.chattiness}}</label><br>
                        <label>→ {{detail.music}}</label><br>
                        <label>→ {{detail.smoking}}</label><br>
                        <label>→ {{detail.pets}}</label><br>
                    {% else %}
                        <label>Travel preferences is not set.</label>
                    {% endif %}
                </td>

                <td style="width: 400px;">
                    <div class="form-group wrap" style="font-size: 18px;font-weight: bold;">
                        <wbr for="comment">
                            {% if bio.story %}
                                {{bio.story}}
                            {% else %}
                                Bio is not yet.
                            {% endif %}
                        </label>
                    </div>
                </td>
                <td style="width: 100px;"></td>
            </tr>
        </table>
        <hr style="border-top: 4px solid black">
    </div>
    
    <h1 style="font-weight: bold;text-align: center;">Ratings</h1><br>
    <div class="container" style="float: center;">
        {% if rating_detail %}
            {% for rating in rating_detail %}
                <section style="min-height: 20vh;">
                    <div class="container" style="width:600px;background-color: white;box-shadow: 0px 0px 20px #00000020;padding: 20px;border-radius: 8px;">
                        <label for="username" style="font-size: 24px;font-weight: bold;text-decoration: none;color: cadetblue;">{{rating.user}}</label><br>
                        <label style="font-size: 24px;"> {{rating.rating}} <i class="fas fa-star"></i></label>
                        <div class="form-group wrap">
                            <wbr for="comment">{{rating.comment}}</label>
                        </div><br><br>
                        <label for="submit_by">{{rating.submit_by}}</label>
                    </div><br>
                </section><br><br>
            {% endfor %}
        {% else %}
            <section style="min-height: 20vh;">
                <div class="container" style="width:600px;background-color: white;box-shadow: 0px 0px 20px #00000020;padding: 20px;border-radius: 8px;">
                    <div class="form-group">
                        <h2 style="font-weight: bold;text-align: center;">Rating not yet.</h2>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

{% endblock body %}




