<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Verify Email | LTSRide</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <h2>Hello, {{user.first_name}}!</h2>
    <p style="font-size: 18px;">Below is your one time passcode for email verify:</p>
    <h2>{{verification_code}}</h2>
    <p style="font-size: 18px;">We're here to help if you need it. Visit the <a href="http://{{domain}}/contact" style="color: black;">LTSRide Contact</a> for more info.</p>
    <p style="font-size: 18px;">If you didn't request this, you can  ignore this email or let us know.</p>
    <p style="font-size: 18px;">Thanks!</p>
    <p style="font-size: 18px;">- LTSRide Team</p>
    
</body>
</html>







